NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_API_KEY=finhub-dev-key-change-me

# NextAuth
AUTH_GOOGLE_ID=tu-google-client-id
AUTH_GOOGLE_SECRET=tu-google-client-secret
AUTH_SECRET=genera-un-secreto-aleatorio-largo-usa-openssl-rand-base64-32
ALLOWED_EMAILS=tu-email@gmail.com

